@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box !important;
}
body{
     font-family:'Montserrat', sans-serif;
     line-height: 1.7;
}
body > .container-fluid{
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url("header-image.jpg");
        background-size: cover;
        background-position: bottom;
}
nav.navbar{
    background-color: rgba(255, 255, 255, 0.3);
}
section.section1 .row .col-lg-6 img{
    object-fit: cover;
    background-position: left;
}
